/* importing other css files */
@import url(./basic.css);
@import url(./utilities.css);



/* NavBar */
nav{
 
   padding-top: 50px;
    width: 100%;
    color: var(--greyish-black);  
    overflow-x: hidden; 
    opacity: 0.9;
}

.nav-contents{
    
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.logo2{
    display: none;;
}

.logo{
    font-size: 2.4rem;
    line-height: 1;
}

.strong-logo{
    font-size: 3rem;
    color: var(--primary-light);
}

.logo>p{
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}


.menu{
    position: fixed;
    top: 6vh;
    right: 10vw;
    padding: 10px;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: var(--primary-dark);
    z-index: 2;
    
}

.menu-line1,
.menu-line2,
.menu-line3{
    width: 30px;
    height: 3px;
    background-color:  #fff;
    transition: all 0.2s ease;
}

.nav-links{
    overflow: hidden;
    position: fixed;
    top: 0;
    right:0px;
    height: 100vh;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in ;
    background-color: var(--primary-light);

}

.nav-list{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.nav-list li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    text-align: center;
    opacity: 0;
}

.nav-list a {
    padding: 35px;
    color: var(--white);
    
} 

.nav-list a:hover {
    font-weight: 600;;
   border-bottom: 2px solid var(--white);
}

.nav-active{
    transform: translateX(0);
}

.nav-links2{
    display: none;
}



.toggle .menu-line1{
    transform: rotate(-45deg) translateX(-7px) translateY(6px);
    
}

.toggle .menu-line2{
    opacity: 0;
}

.toggle .menu-line3{
    transform: rotate(45deg) translateX(-6px) translateY(-9px);
}










/* Sections */

.sections{ 
    padding-top: 50px;
}



/* landing Section */

#landing-section{
    padding-top: 50px;
   
    

}

.landing-contents::before {
    content: '';
    background: url('../img/image.webp') 
        no-repeat center center/cover;
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
   
}

.landing-contents{

    
    
    
    text-align: center;
    color: rgb(214, 213, 247);
    margin-top: 50px;
   

 
}

.hero-sm{
    color: var(--primary-ligh);
    font-size: calc(0.5vw + 1.5rem);
    text-shadow: 5px 5px 20px black;
    font-weight: 600;
    margin-bottom: 40px;
    animation: hero-sm 0.9s;
    transition: 0.3s all;
}

.hero-lg{
    font-size: calc(2vw + 2.5rem);
    font-weight: 500;
    margin-bottom: 50px;
    animation: hero-lg 1.5s;
    transition: 0.3s all;
   
}

.btn-container{
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom:100px;
    animation: hero-lg 1.5s;
    transition: 0.3s all;
    flex-wrap: wrap;

}

.chevron-div{
    margin: 50px 0 100px ;
    font-size: 1.8rem;
    animation: delay-animation 1.7s, chevron 1.1s  ease 1.7s  infinite alternate   ;
}

.chevron-link>i{
    display: block;
    line-height: 0.4;
    cursor: default;
    color: var(--primary-dark);
}

#chevron2{
    color: var(--secondary-darkest);
}










/* About Me Page */

#about-section{
    background-color: var(--darkest-white);
    text-align: center; 
    color: var(--dark-black);
}



.intro,
.intro>p{
    margin: 10px 0;
}

.intro-head,
.skill-head{
    color: var(--primary-dark);
    margin-bottom: 50px;
}



.intro-highlighted-txt{
    color: var(--primary-dark);
    
    font-size: 1.6rem;
    font-weight: 600;   
}

.about-btn-div>a{
    margin: 20px;
}

.about-btn{
    width: 100px;
    color: var(--white);
}

.skill-div{
    margin-top: 50px;
    padding-bottom: 50px;;
}

.skill-card-div{
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;

}

.skill-cards{
    display: flex;
    flex-direction: column;
    font-size: 3rem ;
    transition: transform 0.2s ease;
}

.skill-cards:hover{
    color: var(--darkest-black);
    transform: translateY(-2px);

}

.skill-name{
    font-size: 1.2rem;
}










/* Projects */



.project-section-head{
    color: var(--primary-light);
    text-align: center;
    margin-bottom: 50px;
}

.project-cards{
    margin: 50px 0;
    padding: 20px;
    box-shadow: 0 0 20px var(--primary-lightest);
    border-radius: 15px;
}

.project-img-div{
    text-align: center ;
}

.project-img{
    border-radius: 5px;   
}

.project-info{
    margin: 20px 0;   
}

.project-name{
    color: var(--primary-light);
    margin: 20px 0;
}

.project-card-heads{
    color: var(--dark-black);
}


.project-description{
    display: none;
}

.project-card-div{
    text-align: center;
}

.project-card-btn{
    width: 100px;
    margin: 20px;
}


/* Contacts */
#contact-section{
    background-color: var(--darkest-white);
    padding-bottom: 100px;
}

.contact-section-head{
    color: var(--primary-light);
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact-section-head~p{
    margin: 20px;
    text-align: center;
}

.contact-content{
    background-color: var(--white);
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--primary-lightest);
}

.contact-info{
    background-color: var(--primary-light);
    color: var(--white);
    border-radius: 10px;
    padding: 20px; 
}

.contact-info-head{
    margin-bottom: 20px;
    font-weight: 500;
}

.contact-info-head~p{
    margin-bottom: 50px ;
}

.mycontact-details{
    font-size: 1rem;
}

.mycontact-details>span{
    display: block;
    margin: 10px 0;
}

.mycontact-details>span>i{
    font-size: 1.2rem;
    margin-right: 10px;
}

.contact-form{
    margin: 20px 0;
}

.contact-form-inputs{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
}

input,
textarea{
   
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #e4e4e6;
}

input,
textarea:focus{
    outline: none;
}

textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#email,
#phone,
textarea{
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-submit{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1rem;
    padding: 15px 0;
    justify-self: flex-end;
}



/* footer */

footer{
    display: flex;
     background-color:#0d0131;
    
     
 }
 
 .copyright{
  
     font-size: 1rem;
     margin: 20px auto;
     color: #928d8d;
     text-align: center;
 }




















 /* Media queries */

 @media only screen and (min-width: 768px) {

    /* Navbar */
    /* NavBar */
    .grand-container{
        width: 100vw;
        /* height: calc(100vh - 100px); 
        margin-top:100px; */
        
    }
    .menu{
        display: none;
        
    }

nav{
     position: fixed;
     top: 0;
    padding-top: 0px;
     width: 100%;
     /* color: var(--dark-black);   */
     color: white;
     background-color: rgb(0, 0, 0);
 }
 
 .nav-contents{
    
     justify-content: space-between;
     align-items: center;
     height: 100px;
     width: 95%;
     padding: 20px;
     /* background-color: var(--dark-white); */
     
 }

 .logo{
    display: none;
}

 .logo2{
     display: inline-block;
     font-size: calc(1vw + 1rem);
     line-height: 1.2;     
 }
 
 .strong-logo2{
     font-size: calc(1vw + 1.5rem);
     font-weight: 500;
     color: var(--primary-light);
 }
 
 .logo2>p{
     display: none;
    
 }
 
 
 .nav-links{
    display: none;
 }
 
 .nav-links2{
     display: block;
     height: 100%;
     width: calc(1vw + 600px);
     padding: 20px;
 }

 .nav-list2{
     height: 100%;
     justify-content: space-between;
     align-items: center;
        
 }

 .nav-list2>li>a{
    font-size: calc(0.5vw + 0.9rem);
    padding: 20px;
 }

 .nav-list2>li>a:hover{
     font-weight: 500;
     color: var(--darkest-white);
    
     background-color: var(--primary-lightest);
 }
 
 .btn-resume{


     
    background-color: var(--secondary-dark) ;
     
 }
 
 .btn-resume:hover{
    background-color: var(--secondary-dark) ;
    
}
 
 
/* Landing Page */
.landing-contents{
    max-width: 1200px;
    margin: 150px auto 200px;
   
}

.btn-landing{
    width: 150px;
    padding: 15px;
}
 


    /* About me */

    
    .about-contents{
        max-width: 768px;
        margin: auto;
    }

    .intro-head{
        font-size: 1.8rem;
    }
    

    /* skill  */

    .skill-head{
        font-size: 1.8rem;
    }

    .skill-cards{
        font-size: 3.5rem ;
    }
    
    .strong-logo{
        display: inline-block;
        
    }



    /* Project */

    .project-contents{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 50px;
        
    }
  
    .project-cards{
        margin:  0;
        text-align: left;
        padding: 20px;
        box-shadow: 0 0 20px var(--primary-lightest);
        border-radius: 15px;
        transition:  0.8s all ;  
        width: 1200px;
    }

    .project-cards-contents{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row-reverse;
        gap: 50px;

    }

  

    

    .project-info{
        margin:0;   
    }
    


    .project-name{
    
        color: var(--primary-light);
        margin-top: 0px;
    }

    .project-description,
    .project-card-heads,
    .features,
    .technologies{
        display: block;
        margin-bottom: 5px;
    }

    .project-card-div{
        text-align: left;
        }

    .project-card-btn{
        width: 100px;
        margin: 20px;
        margin-left: 0;
    }





    /*contacts*/

    /* Contacts */

#contact-section{
    padding-bottom: 50px;
}


.contact-content{
    display:flex ;
    max-width: 1000px;
    margin: 50px auto;
  
   
}

.contact-info-head~p{
    margin-bottom: 0px ;
}

.contact-info{
    position: relative;
}

.mycontact-details{
    position: absolute;
    bottom: 10px;    
    font-size: 1rem;
}

.mycontact-details>span{
    display: block;
    margin: 10px 0;
}

.mycontact-details>span>i{
    font-size: 1.2rem;
    margin-right: 10px;
}

.contact-form{
    margin: 20px 0;
}

.contact-form-inputs{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
}

input,
textarea{
   
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #e4e4e6;
}

input,
textarea:focus{
    outline: none;
}

textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#email,
#phone,
textarea{
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-submit{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1rem;
    padding: 15px 0;
    justify-self: flex-end;
}















}