/* imports */
@import url(./animation.css);

/* container */

.container{
    width: 85vw;
    margin: 0 auto;
}

/* Display */
.flex{
    display: flex;
}

.grid{
    display: grid;
}

/* Font-size */

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
}


/* Butttons */

.btn{
padding:10px;
font-size: 1.25rem;
border-radius: 7.5px;
width: 140px;
text-align: center;
cursor: pointer;
transition: transform 0.2s ease;
}

.btn:hover{
    transform: scale(1.2);    
}


.btn-md{

}

.btn-lg{

}

.btn-lg2{

}

/* Background  */

.bg-primary-light{
    background-color: var(--primary-light);
    color: var(--white);
}


/* Text */
.txt-primary-light{
    color: var(--primary-light);
}
