:root{
    --primary-light: #6366f1;
    --primary-dark: #4f46e5;
    --primary-darker: #3e2093;
    --primary-darkest: #0d0131;
    --secondary-lightest: #fa949d;
    --secondary-light:#f67c78;
    --secondary-dark: #f45d58;
    --secondary-darkest: #f55c57;
    --white: #fff;
    --dark-white: #fafbfc;
    --greyish-black: #4b5563;


}